.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #282828; }
  .navbar-dropdown .navbar-logo {
    margin-right: 0.8rem;
    transition: margin 0.3s ease-in-out;
    vertical-align: middle; }
    .navbar-dropdown .navbar-logo img {
      height: 3.125rem;
      transition: all 0.3s ease-in-out; }
    .navbar-dropdown .navbar-logo.mbr-iconfont {
      font-size: 3.125rem;
      line-height: 3.125rem; }
  .navbar-dropdown.navbar-fixed-top {
    position: fixed; }
  .navbar-dropdown .navbar-brand span {
    vertical-align: -4px; }

.dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  border-bottom: 0.35em solid transparent;
  border-left: 0.35em solid;
  border-right: 0;
  border-top: 0.35em solid transparent;
  margin-left: 0.3rem; }

.dropdown-menu .dropdown-item:focus {
  outline: 0; }

.nav-dropdown {
  font-size: 0.75rem;
  font-weight: 500;
  height: auto !important; }
  .nav-dropdown .link {
    margin: .667em 1.667em;
    font-weight: 500;
    padding: 0;
    transition: color .2s ease-in-out; }
    .nav-dropdown .link.dropdown-toggle {
      margin-right: 2.583em; }
      .nav-dropdown .link.dropdown-toggle::after {
        margin-left: .25rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0; }
      .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
        margin: 0;
        padding: 0.667em 3.263em  0.667em 1.667em; }
  .nav-dropdown .link::after,
  .nav-dropdown .dropdown-item::after {
    color: inherit; }
  .nav-dropdown .dropdown-menu {
    border-radius: 0;
    border: 0;
    left: 0;
    margin: 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: relative; }
  .nav-dropdown .dropdown-submenu {
    margin-left: 0.125rem;
    top: 0; }
  .nav-dropdown .dropdown-item {
    font-weight: 500;
    line-height: 2;
    padding: 0.3846em 4.615em 0.3846em 1.5385em;
    position: relative;
    transition: color .2s ease-in-out, background-color .2s ease-in-out; }
    .nav-dropdown .dropdown-item::after {
      margin-top: -0.3077em;
      position: absolute;
      right: 1.1538em;
      top: 50%; }
    .nav-dropdown .dropdown-item:focus, .nav-dropdown .dropdown-item:hover {
      background: none; }

section {
  background-color: #ffffff;
}

body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  position: relative;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
  z-index:10;
}

b {
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
          transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type="hidden"] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
}

/*! Text-aligns */

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*! Font-weight  */

/*! Media  */

.media-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (min-width: 992px) {
  .media-container-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

img {
  display: block;
  width: 100%;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .media {
    width: auto;
  }
}

/*! Buttons */

/*! Btn icon margin */

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: transparent;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}

/*! Scroll to top arrow */

/*! Arrow Down */

/*Gradients animation*/

.menu .navbar-brand {
  display: -webkit-flex;
}

.menu .navbar-brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}

@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}

@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  	.navbar .nav-item:hover .dropdown-menu{ display: block; }
}

@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.nav-link .mbr-iconfont {
  margin-right: .5rem;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.media {
  display: -webkit-flex;
}

.carousel-item {
  text-align: center;
}

.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}

.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

form .row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}

form .row [class*="col"] {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

ul,
ol {
  margin-bottom: 2.3125rem;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}

body {
  font-family: 'Quicksand',sans-serif;
  font-weight:400;
}
.display-2 {
  font-family: 'Quicksand',sans-serif;
  font-weight:700;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Quicksand',sans-serif;
  font-weight:700 !important;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Quicksand',sans-serif;
  font-weight:700;
  font-size: 2.2rem;
  line-height: 1.5;
  text-align: center;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Quicksand',sans-serif;
  font-weight:400;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.text-primary {
  color: #2d8939 !important;
}
.text-info {
  color: #90ff7b !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #143c19 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #3aff15 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
a,
a:hover {
  color: #2d8939;
}
/* Scroll to top button*/
/* Forms */
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.myheader {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.myheader nav.navbar {
  position: fixed;
}
.myheader .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.myheader .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.myheader .dropdown-item:hover,
.myheader .dropdown-item:focus {
  background: #2d8939 !important;
  color: white !important;
}
.myheader .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.myheader .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.myheader .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.myheader .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.myheader .nav-link {
  position: relative;
}
.myheader .container {
  display: flex;
  margin: auto;
}
.myheader .dropdown-menu {
  background: #ffffff !important;
}
.myheader .nav-item:focus,
.myheader .nav-link:focus {
  outline: none;
}
.myheader .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.myheader .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.myheader .navbar .navbar-logo img {
  width: auto;
}
.myheader .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .myheader .navbar .nav-item .nav-link::before {
    display: none;
  }
  .myheader .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .myheader .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .myheader .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .myheader .navbar ul.navbar-nav li {
    margin: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .myheader .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .myheader .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.myheader .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.myheader .navbar-brand .navbar-logo a {
  outline: none;
}
.myheader .dropdown-item.active,
.myheader .dropdown-item:active {
  background-color: transparent;
}
.myheader .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.myheader .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.myheader .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.myheader .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.myheader ul.navbar-nav {
  flex-wrap: wrap;
}
.myheader button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.myheader button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.myheader button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.myheader .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.myheader a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .myheader .navbar {
    height: 70px;
  }
  .myheader .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s48MCQYojq {
  background-image: url("/assets/images/bg/andre-guerra-7yhwipr17d0-unsplash-2000x1333.jpg");
  background-size: cover;
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: center;
  color: #2d8939;
}
.cid-s48MCQYojq .mbr-text {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.myfooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.myfooter .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myfooter .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.myfooter .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.myfooter .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.myfooter .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.myfooter .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .myfooter .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sm0BcMqGs8 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  background-image: url("/assets/images/bg/andre-guerra-7yhwipr17d0-unsplash-2000x1333.jpg");
}
.cid-sm0BcMqGs8 body {
  margin-top: 20px;
}
.cid-sm0BcMqGs8 .blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-sm0BcMqGs8 .article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
  font-family: 'Quicksand',sans-serif;
  font-weight:400;
}
.cid-sm0BcMqGs8 .article .article-title {
  padding: 15px 0 20px;
}
.cid-sm0BcMqGs8 .article .article-title h2 {
  color: #073b4c;
  font-weight: 600;
}
.cid-sm0BcMqGs8 .article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.cid-sm0BcMqGs8 .article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.cid-sm0BcMqGs8 .article .article-title .media .media-body {
  padding-left: 8px;
}
.cid-sm0BcMqGs8 .article .article-title .media .media-body label {
  font-weight: 600;
  color: #073b4c;
  margin: 0;
}
.cid-sm0BcMqGs8 .article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.cid-sm0BcMqGs8 .article .article-content h1,
.cid-sm0BcMqGs8 .article .article-content h2,
.cid-sm0BcMqGs8 .article .article-content h3,
.cid-sm0BcMqGs8 .article .article-content h4,
.cid-sm0BcMqGs8 .article .article-content h5 {
  color: #073b4c;
  font-weight: 600;
  margin-bottom: 15px;
}
.cid-sm0BcMqGs8 img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
@media only screen and (min-width: 768px) {
  .cid-sm0BcMqGs8 .mygrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
.myheader {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.myheader nav.navbar {
  position: fixed;
}
.myheader .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.myheader .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.myheader .dropdown-item:hover,
.myheader .dropdown-item:focus {
  background: #2d8939 !important;
  color: white !important;
}
.myheader .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.myheader .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.myheader .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.myheader .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.myheader .nav-link {
  position: relative;
}
.myheader .container {
  display: flex;
  margin: auto;
}
.myheader .dropdown-menu {
  background: #ffffff !important;
}
.myheader .nav-item:focus,
.myheader .nav-link:focus {
  outline: none;
}
.myheader .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.myheader .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.myheader .navbar .navbar-logo img {
  width: auto;
}
.myheader .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .myheader .navbar .nav-item .nav-link::before {
    display: none;
  }
  .myheader .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .myheader .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .myheader .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .myheader .navbar ul.navbar-nav li {
    margin: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .myheader .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .myheader .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.myheader .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.myheader .navbar-brand .navbar-logo a {
  outline: none;
}
.myheader .dropdown-item.active,
.myheader .dropdown-item:active {
  background-color: transparent;
}
.myheader .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.myheader .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.myheader .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.myheader .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.myheader ul.navbar-nav {
  flex-wrap: wrap;
}
.myheader button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.myheader button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.myheader button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.myheader .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.myheader a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .myheader .navbar {
    height: 70px;
  }
  .myheader .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.myfooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.myfooter .social-row {
  width: 100%;
  justify-content: center;
}
.myfooter .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myfooter .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.myfooter .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.myfooter .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.myfooter .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.myfooter .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .myfooter .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sm1Rsrkw6j {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  background-image: url("/assets/images/bg/andre-guerra-7yhwipr17d0-unsplash-2000x1333.jpg");
}
.cid-sm1Rsrkw6j body {
  margin-top: 20px;
}
.cid-sm1Rsrkw6j .blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-sm1Rsrkw6j .article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
  font-family: 'Quicksand',sans-serif;
  font-weight:400;
}
.cid-sm1Rsrkw6j .article .article-title {
  padding: 15px 0 20px;
}
.cid-sm1Rsrkw6j .article .article-title h2 {
  color: #073b4c;
  font-weight: 600;
}
.cid-sm1Rsrkw6j .article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.cid-sm1Rsrkw6j .article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.cid-sm1Rsrkw6j .article .article-title .media .media-body {
  padding-left: 8px;
}
.cid-sm1Rsrkw6j .article .article-title .media .media-body label {
  font-weight: 600;
  color: #073b4c;
  margin: 0;
}
.cid-sm1Rsrkw6j .article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.cid-sm1Rsrkw6j .article .article-content h1,
.cid-sm1Rsrkw6j .article .article-content h2,
.cid-sm1Rsrkw6j .article .article-content h3,
.cid-sm1Rsrkw6j .article .article-content h4,
.cid-sm1Rsrkw6j .article .article-content h5 {
  color: #073b4c;
  font-weight: 600;
  margin-bottom: 15px;
}
.cid-sm1Rsrkw6j img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.myheader {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.myheader nav.navbar {
  position: fixed;
}
.myheader .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.myheader .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.myheader .dropdown-item:hover,
.myheader .dropdown-item:focus {
  background: #2d8939 !important;
  color: white !important;
}
.myheader .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.myheader .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.myheader .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.myheader .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.myheader .nav-link {
  position: relative;
}
.myheader .container {
  display: flex;
  margin: auto;
}
.myheader .dropdown-menu {
  background: #ffffff !important;
}
.myheader .nav-item:focus,
.myheader .nav-link:focus {
  outline: none;
}
.myheader .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.myheader .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.myheader .navbar .navbar-logo img {
  width: auto;
}
.myheader .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .myheader .navbar .nav-item .nav-link::before {
    display: none;
  }
  .myheader .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .myheader .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .myheader .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .myheader .navbar ul.navbar-nav li {
    margin: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .myheader .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .myheader .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.myheader .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.myheader .navbar-brand .navbar-logo a {
  outline: none;
}
.myheader .dropdown-item.active,
.myheader .dropdown-item:active {
  background-color: transparent;
}
.myheader .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.myheader .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.myheader .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.myheader .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.myheader ul.navbar-nav {
  flex-wrap: wrap;
}
.myheader button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.myheader button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.myheader button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.myheader .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.myheader a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .myheader .navbar {
    height: 70px;
  }
  .myheader .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.myfooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}

.myfooter .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myfooter .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.myfooter .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.myfooter .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.myfooter .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.myfooter .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .myfooter .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sm1WFm1onU {
  background-image: url("/assets/images/bg/bonnie-kittle-x3waaiqpaia-unsplash-2000x1333.jpg");
}
.cid-sm1WFm1onU .mbr-text {
  text-align: center;
}
.myheader {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.myheader nav.navbar {
  position: fixed;
}
.myheader .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.myheader .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.myheader .dropdown-item:hover,
.myheader .dropdown-item:focus {
  background: #2d8939 !important;
  color: white !important;
}
.myheader .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.myheader .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.myheader .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.myheader .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.myheader .nav-link {
  position: relative;
}
.myheader .container {
  display: flex;
  margin: auto;
}
.myheader .dropdown-menu {
  background: #ffffff !important;
}
.myheader .nav-item:focus,
.myheader .nav-link:focus {
  outline: none;
}
.myheader .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.myheader .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.myheader .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.myheader .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.myheader .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.myheader .navbar .navbar-logo img {
  width: auto;
}
.myheader .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .myheader .navbar .nav-item .nav-link::before {
    display: none;
  }
  .myheader .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .myheader .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .myheader .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .myheader .navbar ul.navbar-nav li {
    margin: auto;
  }
  .myheader .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .myheader .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .myheader .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.myheader .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.myheader .navbar-brand .navbar-logo a {
  outline: none;
}
.myheader .dropdown-item.active,
.myheader .dropdown-item:active {
  background-color: transparent;
}
.myheader .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.myheader .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.myheader .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.myheader .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.myheader .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.myheader ul.navbar-nav {
  flex-wrap: wrap;
}
.myheader button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.myheader button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.myheader button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.myheader button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.myheader .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.myheader a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .myheader .navbar {
    height: 70px;
  }
  .myheader .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.myfooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.myfooter .social-row {
  width: 100%;
  justify-content: center;
}
.myfooter .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myfooter .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.myfooter .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.myfooter .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.myfooter .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.myfooter .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .myfooter .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {

}
@media (min-width: 992px) {
  .carousel-control-prev {
    left: 20% !important;
  }
  .carousel-control-next {
    right: 20% !important;
  }
  .lazyfix1 {
	/*margin-bottom: -7.5%;*/
	/*margin-top: -7.5%;*/
  }
}
.mycarousel {
	display:flex;
	justify-content: center;
}
.carousel-caption {
	display: block !important;
	font-family: 'Quicksand',sans-serif;
	font-weight:700;
	background-color: rgba(0,0,0,0.75);
	border-radius: 20px;
	right: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
}

.myborder {
	border: black 2px solid;
	border-radius: 20px;
}

.card {
	text-align: center !important;
	border-radius: 10px;
}

.myaccordion {
	margin: 2rem 5% 2rem 5%;
}

.btn-link {
	color: black !important;
	font-family: 'Quicksand',sans-serif;
	font-weight:700;
}
.carousel-indicators {
	margin-bottom: 0 !important;
}

@media (max-width:502px) {
	.carousel-description {
		display: none;
	}
}

.mylayout {
	display:grid;
	padding: 2rem 1rem;
	min-height: 100vh;
}

.myimg {
	z-index: 1;
	border-radius: 20px;
}

@media (max-width: 991px) {
	.myimg {
		padding: 0 0 1rem 0;
	}
}

@media (min-width: 992px) {
	.myimg {
		transform: scale(0.5);
		margin: -10% 0;
	}
}

.carousel-item img {
	height:25%; /* F*** Apple devices */
}

@media (max-width:749px) {
	.carousel-inner {
		width: 70vw !important;
	}
}
@media (min-width:750px) and (max-width:949px) {
	.carousel-inner {
		width: 50vw !important;
	}
}
@media (min-width:950px) {
	.carousel-inner {
		width: 40vw !important;
	}
}

.fr {
	display:none;
	font-family: 'Quicksand',sans-serif;
	font-weight:400;
}
.shopgrid {
	display:grid;
	margin:auto;
	grid-gap:10px;
}

@media (min-width:992px) {
	.shopgrid {
	grid-template-columns:repeat(3,1fr);
	width:66vw;
	}
}

.product_details {
	color: black;
	font-family: 'Quicksand',sans-serif;
	font-weight: 400;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #73b72e;
  color: #73b72e;
  box-shadow: 9999px 0 0 -5px #73b72e;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #73b72e;
  color: #73b72e;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #73b72e;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #73b72e;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #73b72e;
  }
  30% {
    box-shadow: 9984px 0 0 2px #73b72e;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #73b72e;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #73b72e;
  }
  30% {
    box-shadow: 9999px 0 0 2px #73b72e;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #73b72e;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #73b72e;
  }
  30% {
    box-shadow: 10014px 0 0 2px #73b72e;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #73b72e;
  }
}